### Jupyter Notebook Starter

***Hint: hit Shift + Enter to run a cell***

In [1]:
print('Hello world!')

Hello world!

In [2]:
5-1

4

In [3]:
3/2

1.5

In [4]:
5*4

20

In [5]:
40 % 4

0

In [6]:
25 % 2

1

In [7]:
2 ** 3

8

In [8]:
a = 5

In [9]:
a

5

In [10]:
type(a)

int

In [11]:
a = 15.2

In [12]:
type(a)

float

In [1]:
my_income = 100

tax_rate = 0.10

my_taxes = my_income * tax_rate

In [2]:
my_taxes

10.0

In [3]:
print('Hello \n world')

Hello
 world

In [4]:
print('Hello \tworld')

Hello 	world

In [1]:
len('Lucie')

5

In [2]:
my_name = 'Lucie'

In [3]:
my_name[0]

'L'

reverse indexing

Lucie 
0 = L   -4 = u   -3 = c   -2 = i   -1 = e

In [4]:
my_name[-1]

'e'

slicing [start:stop:stepsize]

[2:] from index 2 until the end

[::] from the beginning until the end, all

[::2] all with steps of 2 (e.g. abcde => ace)

[2:7:3]

super hack: to reverse a string use [::-1] :-)

In [5]:
my_name[2:]

'cie'

In [6]:
my_name[:3]

'Luc'

In [8]:
my_name[1:4]

'uci'

In [9]:
my_name[::-1]

'eicuL'

In [10]:
name = 'Sam'

In [11]:
last_letters = 'am'

In [12]:
'P' + last_letters

'Pam'

In [14]:
letter = 'z'

In [15]:
letter * 7

'zzzzzzz'

to see list of attributes and methods available hit e.g. letter. + TAB

In [18]:
letter.count

In [19]:
my_name.upper()

'LUCIE'

In [20]:
greeting = 'Hello World'

In [21]:
greeting.split()

['Hello', 'World']

In [22]:
greeting.split('o')

['Hell', ' W', 'rld']

string interpolation: 2 methods

.format()

f-strings

In [23]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [24]:
print('The {1} {0} {2}'.format('beer', 'great', 'revolution'))

The great beer revolution

In [25]:
print('The {0} {0} {0}'.format('beer', 'great', 'revolution'))

The beer beer beer

In [26]:
print('The {g} {b} {r}'.format(b='beer', g='great', r='revolution'))

The great beer revolution

float formatting follows {value:width:precision f}

In [27]:
result = 100/77
result

1.2987012987012987

In [29]:
print('The result was {r:1.3f}'.format(r=result))

The result was 1.299

f-string (formatted string literal) - new in Python 3.6

In [30]:
name = 'Jitka'

In [31]:
print(f'Her name is {name}')

Her name is Jitka