### Python Statements

##### control flow:

*if*

*elif*

*else*

must use colon : and indentation

In [1]:
if 5 > 2:
    print("It's true")

It's true

In [3]:
hungry = False

if hungry:
    print('Feed me!')
else:
    print('Not hungry')

Not hungry

In [4]:
location = 'Beach'

if location == 'Park':
    print('I love green!')
elif location == 'Beach':
    print('I love blue')
else:
    print('Nah, I am good')

I love blue

#### For loops
iterate through iterables

e.g. every character in a string, every item in a list, every key in a dictionary

In [5]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [6]:
for num in my_list:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [8]:
for num in my_list:
    # check for even number
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd number: {num}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [9]:
list_sum = 0

for num in my_list:
    list_sum = list_sum + num

print(list_sum)

55

In [10]:
for letter in 'Lucie':
    print(letter)

L
u
c
i
e

In [11]:
tup = (1,2,3,4)

for item in tup:
    print(item)

1
2
3
4

In [12]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

len(mylist)

4

In [13]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

tuple unpacking
you duplicate the structure

In [14]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [15]:
d = {'k1':1, 'k2':2, 'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [16]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [17]:
for key,value in d.items():
    print(value)

1
2
3

In [18]:
for value in d.values():
    print(value)

1
2
3

#### While loops

while the condition is true do something

In [22]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('X is not less than 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

**break**: breaks out of the current closest enclosing loop

**continue**: goes to the top of the closest enclosing loop

**pass**: does nothing at all

In [24]:
x = [1,2,3]

for item in x:
    #comment - it would throw a syntax error if the 'pass' wasn't below
    pass

print('End of my script')

End of my script

In [25]:
mycity = 'Prague'

for letter in mycity:
    if letter == 'a':
        continue
    print(letter)

P
r
g
u
e

In [26]:
for letter in mycity:
    if letter == 'a':
        break
    print(letter)

P
r

In [27]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

range(start, step, stop)

In [28]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [29]:
word = 'abeceda'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'e')
(3, 'c')
(4, 'e')
(5, 'd')
(6, 'a')

In [30]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [32]:
for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [33]:
from random import shuffle

In [34]:
mylist = [1,2,3,4,5,6,7,8,9]

shuffle(mylist)

print(mylist)

[5, 2, 6, 9, 1, 4, 8, 3, 7]

In [35]:
from random import randint

In [37]:
randint(0,100)

62

In [38]:
result = input('Enter a number here: ')

Enter a number here: 66

In [39]:
result

'66'

In [40]:
type(result)

str

In [41]:
float(result)

66.0

In [42]:
int(result)

66

In [43]:
mystring = 'hello'
mylist = []

for letter in mystring:
    mylist.append(letter)

In [44]:
mylist

['h', 'e', 'l', 'l', 'o']

In [45]:
celsius = [0,10,20,35]

fahrenheit = [((9/5) * temp + 32) for temp in celsius]

In [46]:
fahrenheit

[32.0, 50.0, 68.0, 95.0]