### Jupyter Notebook Starter

***Hint: hit Shift + Enter to run a cell***

In [1]:
print('Hello world!')

Hello world!

**NUMBERS**

In [2]:
5-1

4

In [3]:
3/2

1.5

In [4]:
5*4

20

In [5]:
40 % 4

0

In [6]:
25 % 2

1

In [7]:
2 ** 3

8

In [8]:
a = 5

In [9]:
a

5

In [10]:
type(a)

int

In [11]:
a = 15.2

In [12]:
type(a)

float

In [1]:
my_income = 100

tax_rate = 0.10

my_taxes = my_income * tax_rate

In [2]:
my_taxes

10.0

**STRINGS**

In [3]:
print('Hello \n world')

Hello
 world

In [4]:
print('Hello \tworld')

Hello 	world

In [1]:
len('Lucie')

5

In [2]:
my_name = 'Lucie'

In [3]:
my_name[0]

'L'

**reverse indexing**

Lucie 
0 = L   -4 = u   -3 = c   -2 = i   -1 = e

In [4]:
my_name[-1]

'e'

**SLICING** [start:stop:stepsize]

[2:] from index 2 until the end

[::] from the beginning until the end, all

[::2] all with steps of 2 (e.g. abcde => ace)

[2:7:3]

**super hack:** to reverse a string use [::-1] :-)

In [5]:
my_name[2:]

'cie'

In [6]:
my_name[:3]

'Luc'

In [8]:
my_name[1:4]

'uci'

In [9]:
my_name[::-1]

'eicuL'

In [10]:
name = 'Sam'

In [11]:
last_letters = 'am'

In [12]:
'P' + last_letters

'Pam'

In [14]:
letter = 'z'

In [15]:
letter * 7

'zzzzzzz'

**string methods**

to see list of attributes and methods available hit e.g. letter. + TAB

In [18]:
letter.count

In [19]:
my_name.upper()

'LUCIE'

In [20]:
greeting = 'Hello World'

In [21]:
greeting.split()

['Hello', 'World']

In [22]:
greeting.split('o')

['Hell', ' W', 'rld']

**string interpolation:** 2 methods

.format()

f-strings

In [23]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [24]:
print('The {1} {0} {2}'.format('beer', 'great', 'revolution'))

The great beer revolution

In [25]:
print('The {0} {0} {0}'.format('beer', 'great', 'revolution'))

The beer beer beer

In [26]:
print('The {g} {b} {r}'.format(b='beer', g='great', r='revolution'))

The great beer revolution

float formatting follows {value:width:precision f}

In [27]:
result = 100/77
result

1.2987012987012987

In [29]:
print('The result was {r:1.3f}'.format(r=result))

The result was 1.299

f-string (formatted string literal) - new in Python 3.6

In [30]:
name = 'Jitka'

In [31]:
print(f'Her name is {name}')

Her name is Jitka

**LISTS**

In [1]:
my_list = ['STRING', 99, 13.5]

In [2]:
len(my_list)

3

In [3]:
my_list[1:]

[99, 13.5]

In [4]:
my_list[0] = 'string'

In [5]:
my_list

['string', 99, 13.5]

**.append() and .pop() methods**

In [6]:
my_list.append('last_item')

In [7]:
my_list

['string', 99, 13.5, 'last_item']

In [8]:
my_list.pop()

'last_item'

In [9]:
my_list

['string', 99, 13.5]

In [10]:
popped_item = my_list.pop()

In [11]:
popped_item

13.5

In [12]:
my_list.pop(0)

'string'

**.sort() and .reverse() methods**

In [13]:
fruit_list = ['pineapple', 'lemon', 'banan', 'apple']

In [14]:
fruit_list.sort()

In [15]:
fruit_list

['apple', 'banan', 'lemon', 'pineapple']

In [16]:
num_list = [4, 7, 1, 3]

In [17]:
num_list.sort()

In [18]:
num_list

[1, 3, 4, 7]

In [19]:
num_list.reverse()

In [20]:
num_list

[7, 4, 3, 1]

**DICTIONARIES**

unordered and cannot be sorted, key-value pairs

In [22]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [23]:
my_dict['key1']

'value1'

In [24]:
fruit_prices = {'apples':2.99, 'oranges':1.99, 'bananas':3.99}

In [25]:
fruit_prices['bananas']

3.99

In [26]:
d = {'k1':123, 'k2':[1,2,3], 'k3':{'insideKey':99}}

In [27]:
d['k2']

[1, 2, 3]

In [28]:
d['k3']

{'insideKey': 99}

In [29]:
d['k3']['insideKey']

99

In [30]:
d['k2'][1]

2

In [33]:
dict = {'key1': ['a', 'b', 'c']}

In [34]:
dict['key1'][2].upper()

'C'

In [35]:
dict['key2'] = 199

In [36]:
dict

{'key1': ['a', 'b', 'c'], 'key2': 199}

In [37]:
dict['key2'] = 'NEW VALUE'

In [38]:
dict

{'key1': ['a', 'b', 'c'], 'key2': 'NEW VALUE'}

**.keys( ) .values( ) and .items ( ) methods**

In [39]:
dict.keys()

dict_keys(['key1', 'key2'])

In [40]:
dict.values()

dict_values([['a', 'b', 'c'], 'NEW VALUE'])

In [41]:
dict.items()

dict_items([('key1', ['a', 'b', 'c']), ('key2', 'NEW VALUE')])

**TUPLES**

are immutable, elements cannot be changed or reassigned

In [42]:
t=(1,2,3)

In [43]:
type(t)

tuple

In [44]:
t = ('one',2)

In [45]:
t[0]

'one'

In [46]:
t[-1]

2

**.count( ) and .index( ) methods**

In [47]:
tuple = ('a', 'b', 'a', 'a')

In [48]:
tuple.count('a')

3

In [49]:
tuple.index('b')

1

In [50]:
tuple[0] = 'c'

TypeError: 'tuple' object does not support item assignment

**SETS**

unordered collections of unique elements

In [51]:
my_set = set()

In [53]:
my_set.add(1)

In [54]:
my_set.add(2)

In [55]:
my_set

{1, 2}

In [56]:
my_set.add(2)

In [57]:
my_set

{1, 2}

In [58]:
my_list = [1,2,1,1,3,4,3,1]

In [59]:
set(my_list)

{1, 2, 3, 4}

In [60]:
my_list

[1, 2, 1, 1, 3, 4, 3, 1]

**BOOLEANS**

True or False (must be capitalized)

In [61]:
True

True

In [62]:
false

NameError: name 'false' is not defined

In [63]:
type(True)

bool

**NONE type**

serves as a placeholder for variables - values will be assigned later

In [64]:
b = None

In [65]:
b